@import url("./__logo/header__logo.css");
@import url("./__text-container/header__text_container.css");
@import url("./__link/header__link.css");
@import url("./__link/_signed-in/header__link_signed-in.css");
@import url("./__user-email/header__user-email.css");
@import url("./__nav-menu/header__nav-menu.css");
@import url("./__nav-button/header__nav-button.css");
@import url("./__text-container/_mobile/header__text-container_mobile.css");
@import url("./__nav-menu/_mobile/header__nav-menu_mobile.css");
@import url("./__user-email/_mobile/header__user-email_mobile.css");

.header {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
  margin: auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 720px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
  }
}
