@import url("./__title/account__title.css");
@import url("./__form/account__form.css");
@import url("./__input/account__input.css");
@import url("./__submit/account__submit.css");
@import url("./__flair-text/account__flair-text.css");

.account {
  margin: auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
