.account__flair-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.account__flair-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
